.media-form {
  width:200px;
  padding:20px;
  margin: 0 auto;
}
.media-input {
  width:100%;
  padding: 10px;
  margin:10px 0;
  border-radius:10px;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.media-select {
  width: 100%;
  padding:10px;
  border-radius:10px;
}
.media-pizza {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  cursor: pointer;
}
.media-salad {
  border: 5px outset red;
  background-color: lightgreen;
  text-align: center;
}
.media-drink {
  border: 5px outset red;
  background-color: lightcoral;
  text-align: center;
}
.media-cart {
  border: 5px outset lightblue;
  height: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: red;
  cursor: pointer;
}
.media-icon {
  height: 5em;
  weight: 5em;
}
.media-button {
  width:100%;
  background-color: red;
  border: 0;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}
