.media-pizza {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
.media-salad {
  border: 5px outset red;
  background-color: lightgreen;
  text-align: center;
}
.media-drink {
  border: 5px outset red;
  background-color: lightcoral;
  text-align: center;
}
.media-cart {
  border: 5px outset lightblue;
  height: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: red;
}
.media-icon {
  height: 5em;
  weight: 5em;
}
.media-button {
  background-color: red;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}
