<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>All Entries</title>
</head>
<body>
<a id="pizza" th:href="@{/checkout?item=Pizza}">
    <div class="media-pizza">
        <h2>Pizza</h2>
    </div>
</a>
<a id="salad" th:href="@{/checkout?item=Salad}">
    <div class="media-salad">
        <h2>Salad</h2>
    </div>
</a>
<a id="drink" th:href="@{/checkout?item=Drink}">
    <div class="media-drink">
        <h2>Drink</h2>
    </div>
</a>
<br>
</body>
</html>